body{
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
    background:#f2f2f2;
}

header{
    background:#0b5ed7;
    color:white;
    text-align:center;
    padding:20px;
}

.container{
    width:400px;
    margin:40px auto;
    background:white;
    padding:25px;
    border-radius:10px;
    box-shadow:0 0 10px #ccc;
}

input,select{
    width:100%;
    padding:10px;
    margin-top:10px;
    margin-bottom:15px;
}

button{
    width:100%;
    padding:12px;
    border:none;
    background:#0b5ed7;
    color:white;
    cursor:pointer;
    border-radius:5px;
}

button:hover{
    background:#084298;
}

a{
    text-decoration:none;
}
